*.xcbkptlist
Calcal.xcodeproj/xcuserdata/iaroslav.erokhin.xcuserdatad/xcschemes/xcschememanagement.plist
Calcal.xcodeproj/project.xcworkspace/xcuserdata/iaroslav.erokhin.xcuserdatad/xcdebugger/Expressions.xcexplist
